@import 'compass/utilities';
@import 'compass/css3';

#wave_container{
  width: 1024px;
  height: 256px;
  margin-bottom: 10px;
  @include single-box-shadow;
}
.audio-editor{
  width: 1024px;
  height: 256px;
  position: absolute;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;

  canvas{
    width: 1024px;
    height: 256px;
    position: absolute;
    cursor: crosshair;
  }

  .audio-handler{
    border: 1px dashed black;
    width: 500px;
    height: 253px;
    position: absolute;
    left: 100px;
    top: 0px;
    background-color: #CCC;
    cursor: move;
    opacity: 0.6;
    display: block;
  }
  .playing-pointer{
    z-index: 10;
    left: 0px;
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: red;
  }
  .audio-loading{
    position:absolute;
    width:128px;
    height:15px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/audio-loading.gif);
    display: none;
  }
  &.loading .audio-handler{
    display: none;
  }
  &.loading .audio-loading{
    display: block;
  }
}




