    <div class="playing-pointer"></div>
    <canvas id="wave"></canvas>
    <div class="audio-handler">
      <div class="handler-left"></div>
      <div class="handler-right"></div>
    </div>
    <div class="audio-loading"></div>
