/* line 4, ../sass/audio-editor.scss */
#wave_container {
  width: 1024px;
  height: 256px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 10, ../sass/audio-editor.scss */
.audio-editor {
  width: 1024px;
  height: 256px;
  position: absolute;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
/* line 24, ../sass/audio-editor.scss */
.audio-editor canvas {
  width: 1024px;
  height: 256px;
  position: absolute;
  cursor: crosshair;
}
/* line 31, ../sass/audio-editor.scss */
.audio-editor .audio-handler {
  border: 1px dashed black;
  width: 500px;
  height: 253px;
  position: absolute;
  left: 100px;
  top: 0px;
  background-color: #CCC;
  cursor: move;
  opacity: 0.6;
  display: block;
}
/* line 43, ../sass/audio-editor.scss */
.audio-editor .audio-handler .handler-ts {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 10px;
}
/* line 51, ../sass/audio-editor.scss */
.audio-editor .playing-pointer {
  z-index: 10;
  left: 0px;
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: red;
}
/* line 59, ../sass/audio-editor.scss */
.audio-editor .audio-loading {
  position: absolute;
  width: 128px;
  height: 15px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../images/audio-loading.gif);
  display: none;
}
/* line 72, ../sass/audio-editor.scss */
.audio-editor.loading .audio-handler {
  display: none;
}
/* line 75, ../sass/audio-editor.scss */
.audio-editor.loading .audio-loading {
  display: block;
}
