/* line 4, ../sass/audio-editor.scss */
#wave_container {
  width: 1024px;
  height: 256px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 10, ../sass/audio-editor.scss */
.audio-editor {
  width: 1024px;
  height: 256px;
  position: absolute;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
/* line 24, ../sass/audio-editor.scss */
.audio-editor canvas {
  width: 1024px;
  height: 256px;
  position: absolute;
  cursor: crosshair;
}
/* line 31, ../sass/audio-editor.scss */
.audio-editor .audio-handler {
  border: 1px dashed black;
  width: 500px;
  height: 253px;
  position: absolute;
  left: 100px;
  top: 0px;
  background-color: #CCC;
  cursor: move;
  opacity: 0.6;
  /*
  .handler-left{
    width: 2px;
    border-left: 1px dashed black;
    height: 100%;
    position: absolute;
    float: left;
    cursor: ew-resize;
  }
  .handler-right{
    width: 2px;
    border-right: 1px dashed black;
    height: 100%;
    position: absolute;
    right: 0px;
    cursor: ew-resize;
  }
  */
}
